.navbarStyle{
    box-shadow: none;
    color: #000;
    background-color: #fff; 
}

.root{
    flex-grow: 1;
}

// .menuButton{
//     margin-right: theme.spacing(2);
// }

.title{
    flex-grow: 1;
}